/* ** General ** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-size: 110%;
}


/* ** define board size ** */
.board {
    width: 500px;
    height: 500px;

    display: grid;
}



.container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 5rem;
}




/* ** temporal ** */

.items {
    background-color: rgb(37, 36, 36);
}
.board {
    background:aquamarine;
}





/* ** Marking responsiveness break points ** */
@media screen and (max-width: 780px) {
    .container {
        flex-direction:column-reverse;
        gap: 1rem;
    }
    
}
@media screen and (max-width: 550px) {
    .board {
        width: 400px;
        height: 400px;
    }
    
}
@media screen and (max-width: 385px) {
    .board {
        width: 350px;
        height: 350px;
    }
    
}

