/* ** General ** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 110%;
    background-color: rgb(226, 226, 226);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    height: 100%;

    /* background-color: hotpink; */

} 

.container main {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    box-shadow: 1px -1px 4px rgb(37, 29, 24),-1px 1px 4px black;
}


.container header {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 110%;
    align-items: flex-end;
}


/* ** define board size ** */
main .board {
    width: 500px;
    height: 500px;
    
    display: grid;
    
    background:rgb(223, 228, 226);
    /* background-color: ; */
    box-shadow: 1px -1px 4px rgb(37, 29, 24),-1px 1px 4px black;
}

/* Color buttons and div associates */
.settings {
    text-align: center;
}
.hide_basic_colors {
    display: none;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: .3rem;
    margin-bottom: .3rem;
}

.colors button {
    margin: 0;
    border: 0;
    height: 1.6rem;
    padding: .2rem .4rem;
}


#currentColor {
    width: 3.2rem;
    height: 1.62rem;
}
#basicColors {
    position: relative;
}

#basicColors .float {
    position: absolute;
    top: -1.5rem;
    background-color: rgb(75, 73, 73);
    width: 12rem;
    height: 60px;

    padding: 1rem;

    z-index: 99;
}


.colors .mode #rainbow {
    border-left: 1px solid rgb(43, 41, 41);
    border-right: 1px solid rgb(43, 41, 41);
}
.colors {
    border: 1px solid rgb(37, 29, 24);
}


/* ** Sizes ** */
.sizes {
    border:1px solid rgb(37, 29, 24);
    display: flex;
    justify-content: center;
}
.size {
    flex: 1;
    border: 0;
    
}
.size:nth-child(2),
.size:nth-child(4),
.size:nth-child(6) {
    /* background-color:; */
    border-right: 1px solid rgb(37, 29, 24);
    border-left: 1px solid rgb(37, 29, 24);
}

.size:hover,
button:hover {
    background-color: rgb(169, 189, 248);
}

/* ** cleaning ** */
.settings .cleaning {
    display: flex;
    justify-content: center;
}
.cleaning button:first-child{
    border: 1px solid rgb(37, 29, 24);
    /* border-right: 0; */

}
.cleaning button:last-child{
    border: 1px solid rgb(37, 29, 24);
    border-left: 0;
}
.cleaning button {
    padding: .3rem .4rem;
}


/* footer  */
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: .9rem;
    gap: 5rem;
}




/* ** Marking responsiveness break points ** */
@media screen and (max-width: 832px) {
    .container .board {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 750px) {
  
    .container main {
        gap: 2rem;
    }
    .container .board {
        width: 350px;
        height: 350px;
    }

    footer {
        gap: 1rem;
    }
   
}
@media screen and (max-width: 585px) {
    .container main{
        flex-direction: column;
        align-items: center;
    }

    footer div:last-child {
        display: none;
    }
    footer {
        margin: 2rem;
        text-align: center;
    }
}
@media screen and (max-width: 398px) { 
    .container header {
        font-size: 90%;
    }
    .container .board {
        width: 295px;
        height: 295px;
    }
    .container .settings {
        font-size: 80%;
    }
}

@media screen and (max-width: 361px) {
    .container .board {
        width: 280px;
        height: 280px;
    }
}
@media screen and (max-width: 330px) {
    body {
        font-size: 100%;
    }
    .container main {
        box-shadow: none;
    }
    .container .board {
        width: 280px;
        height: 280px;
    }
}

