/* ** General ** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 110%;
    background-color: rgb(226, 226, 226);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    height: 100%;

    /* background-color: hotpink; */

} 

.container main {
    display: flex;
    gap: 4rem;
    padding: 1rem;
    box-shadow: 1px -1px 4px rgb(37, 29, 24),-1px 1px 4px black;
}


.container header {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 110%;
    align-items: flex-end;
}


/* ** define board size ** */
main .board {
    width: 500px;
    height: 500px;
    
    display: grid;
    
    background:rgb(223, 228, 226);
    box-shadow: 1px -1px 4px rgb(37, 29, 24),-1px 1px 4px black;
}

/* Color buttons and div associates */
.hide_basic_colors {
    display: none;
}
#currentColor {
    width: 50px;
    height: 20px;
    /* background-color: red; */
}
#basicColors {
    position: relative;
}

#basicColors .float {
    position: absolute;
    top: -40px;
    background-color: rgb(75, 73, 73);
    width: 120px;
    height: 60px;

    z-index: 99;
}




/* footer  */
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: .9rem;
    gap: 5rem;
}


/* ** temporal ** */

.items {
    background-color: rgb(37, 36, 36);
}





/* ** Marking responsiveness break points ** */
@media screen and (max-width: 832px) {
    .container .board {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 750px) {
  
    .container main {
        gap: 2rem;
    }
    .container .board {
        width: 350px;
        height: 350px;
    }

    footer {
        gap: 1rem;
    }
   
}
@media screen and (max-width: 585px) {
    .container main{
        flex-direction: column;
        align-items: center;
    }

    footer div:last-child {
        display: none;
    }
    footer {
        margin: 2rem;
        text-align: center;
    }
}
@media screen and (max-width: 398px) { 
    .container header {
        font-size: 90%;
    }
    .container .board {
        width: 295px;
        height: 295px;
    }
    .container .settings {
        font-size: 80%;
    }
}

@media screen and (max-width: 361px) {
    .container .board {
        width: 280px;
        height: 280px;
    }
}
@media screen and (max-width: 330px) {
    body {
        font-size: 100%;
    }
    .container main {
        box-shadow: none;
    }
    .container .board {
        width: 280px;
        height: 280px;
    }
}

